/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require fa.all
*= require bootstrap
*= require sb-admin-2
*= require dataTables.bootstrap4
*= require buttons.bootstrap4
*= require select.bootstrap4
*= require chosen
*= require_self
*/
.nav ul {
    padding: 0;
}

.nav ul > li {
    display: inline-block;
    /* You can also add some margins here to make it look prettier */
    zoom:1;
    *display:inline;
    /* this fix is needed for IE7- */
}

.yabs-data table {
    margin: 0 auto;
    width: 100%;
    clear: both;
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap:normal;
}

.yabs-data table td{
    cursor: pointer;
}

.yabs-data {
    padding: 0;
    margin: 0;
}

.yabs-data-inner .d-flex{
    flex-basis: 100%;
}

.yabs-data .container-fluid {
    padding: 0;
}

.filterl{
    margin-right: 12px;
}

#sidebarToggle{
    color: #fff;

}